<!doctype html>
<html>
<head>
    <link rel="icon" href="<%= rootUrl %>/static/favicon.ico" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Login to K A D I</title>
    <link rel="stylesheet" type="text/css" href="<%= rootUrl %>/static/semantic/dist/semantic.min.css">
    <style>
        body {
            padding-top: 20px;
            background-color: #f8f8f9;
        }
    </style>
</head>
<body>
    <div class="ui centered grid container">
        <div class="fourteen wide mobile ten wide tablet six wide computer column">
            <div class="ui huge header">
                Login to your Kadi account
            </div>
            <% if (messages.error) { %>
                <div class="ui error message"><%= messages.error %></div>
            <% } %>
            <div class="ui stacked segment">
                <form class="ui form" action="<%= rootUrl %>/account/login" method="POST">
                    <div class="field">
                        <label for="email">Email:</label>
                        <input type="text" id="email" name="email" required/>
                    </div>
                    <div class="field">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" required/>
                    </div>
                    <button class="ui fluid blue large submit button" type="submit">Login</button>
                </form>
                <div class="ui message">
                    No account yet? <a href="<%= rootUrl %>/account/register">Click here to sign up!</a>
                </div>
            </div>
        </div>
    </div>

    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="<%= rootUrl %>/static/semantic/dist/semantic.min.js"></script>
</body>
</html>
